* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

/* HEAD */
.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 27%;
    margin: 0 0 0 -20px;
    cursor: pointer;
    animation: movedown 0.5s linear 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    visibility: hidden;
}

@keyframes movedown {
    0% {
        visibility: visible;
        transform: translateY(-100%);
    }

    100% {
        visibility: visible;
        transform: translateY(0%);
    }
}


.menuicon {
    width: 120px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
    animation: moveleft 0.5s linear 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    visibility: hidden;
}

@keyframes moveleft {
    0% {
        visibility: visible;
        transform: translateX(100px);
    }

    100% {
        visibility: visible;
        transform: translateX(0px);
    }
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 27%;
    width: 70%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    right: 0;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    overflow: hidden;
}

nav ul li a:hover {
    color: rgb(182, 36, 36);
    font-size: 16px;
    transition: 0.2s;
}

.maintext {
    display: block;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 80px 0 0 15%;
}

.maintext h1 {
    font-size: 80px;
    color: yellow;
    font-style: normal;
    animation: zoom-in 0.5s linear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: 1s;
    cursor: pointer;
}

@keyframes zoom-in {
    0% {
        visibility: visible;
        transform: scale(1.05);
    }

    100% {
        visibility: visible;
    }
}

.maintext p {
    font-size: 18px;
    color: white;
    animation: zoom-in 0.5s linear 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: 1s;
    cursor: pointer;
}


.btn {

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 30px 0 0 35%;
    animation: zoom-in 0.5s linear 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: 1s;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 1px solid rgb(217, 57, 57);
    border-radius: 15px;
    font-size: 17px;
    width: 120px;
    padding: 15px;
    text-align: center;
    background: rgb(217, 57, 57);
}

.btn a:hover {
    width: 130px;
    background: rgb(212, 212, 75);
    border: rgb(212, 212, 75);
    font-size: 20px;
    color: rgb(217, 57, 57);
    transition: 0.5s;
}

#news {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    background-size: cover;
    background-position: center;
}

.newsbox {
    width: 120px;
    height: 10vh;
    background: yellow;
    align-items: center;
    justify-content: space-around;
    display: flex;
    text-align: center;
}

.newsbox h1 {
    font-size: 30px;
    color: red;
}

.pnews {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin-left: 5px;
}

.pnews p {
    font-size: 17px;
    color: white;
}

/*ABOUT*/

#about {
    width: 100%;
    height: 90vh;
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.abouttext {
    display: block;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin-top: -30px;
    margin-left: 30px;
    width: 80%;
}

.abouttext h1 {
    font-size: 70px;
    color: yellow;
}

.abouttext p {
    font-size: 17px;
    color: white;
}

.aboutimage {
    margin-left: -13%;
    width: 53rem;
    height: 100%;
}

/*PRICE*/

.price {
    width: 100%;
    height: 100vh;
    background-image: url(images/style.jpg);
    background-size: cover;
    background-position: center;
}

.pricetext {
    display: block;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 45px;
}

.pricetext h1 {
    font-size: 30px;
    color: yellow;
}

.pricebox {
    width: 90%;
    height: 80vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 0 60px;
    border-radius: 10px;
}

.name {
    display: block;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin-left: 185px;
    margin-top: -15%;
}

.name h1 {
    font-size: 30px;
    color: rgb(14, 14, 120);
}

.amount {
    display: block;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin-left: 100px;
    margin-top: -15%;
    position: relative;
}

.amount h1 {
    font-size: 30px;
    color: rgb(14, 14, 120);
}

.btn2 {

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 100px 0 0 -53%;
    position: absolute;
}

.btn2 a {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 1px solid rgb(217, 57, 57);
    border-radius: 15px;
    font-size: 17px;
    width: 120px;
    padding: 15px;
    text-align: center;
    background: rgb(217, 57, 57);
}

.btn2 a:hover {
    width: 130px;
    background: rgb(105, 105, 221);
    border: rgb(212, 212, 75);
    font-size: 18px;
    color: rgb(217, 57, 57);
    transition: 0.5s;
}

/*RATING*/
#rating {
    width: 100%;
    height: 100vh;
    background-image: url(images/menubg.jpg);
    background-size: cover;
    background-position: center;
}

.ratebox {
    width: 80%;
    display: block;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    margin-left: 15%;

}

.ratebox h1 {
    width: 40%;
    font-size: 30px;
    color: yellow;
    text-align: left;
    padding-left: 20%;

}

.ratebox p {
    width: 40%;
    font-size: 20px;
    color: white;
    text-align: right;
}

.h1 {
    width: 50%;
    height: 2vh;
    background: green;
    border: none;
    margin-left: 20%;
}

.p1 {
    margin-left: 30%;
}

.h2 {
    width: 50%;
    height: 2vh;
    background: green;
    border: none;
    margin-left: 20%;
}

.p2 {
    margin-left: 30%;
}

.h3 {
    width: 45%;
    height: 2vh;
    background: rgb(134, 171, 12);
    border: none;
    margin-left: 20%;
}

.p3 {
    margin-left: 25%;
}

.h4 {
    width: 50%;
    height: 2vh;
    background: green;
    border: none;
    margin-left: 20%;
}

.p4 {
    margin-left: 30%;
}

.h5 {
    width: 50%;
    height: 2vh;
    background: green;
    border: none;
    margin-left: 20%;
}

.p5 {
    margin-left: 30%;
}

/*TESTIMONY*/
.testimony {
    width: 100%;
    height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
}

.testimony h1 {
    text-align: center;
    font-size: 45px;
    color: yellow;
    padding-top: 50px;
}

.testbox {
    width: 90%;
    height: 70vh;
    margin-left: 55px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.test1 {
    width: 25%;
    height: 60vh;
    border: 3px solid yellow;
    border-radius: 50px;
    display: block;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}

.test1:hover {
    width: 26%;
    transition: 0.5s;
}

.test1 img {
    margin-top: 30px;
}

.test1 h1 {
    font-size: 30px;
    margin-top: -30px;
}

.test1 p {
    text-align: center;
    margin-top: 20px;
}

.test2 {
    width: 25%;
    height: 60vh;
    border: 3px solid yellow;
    border-radius: 50px;
    display: block;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 50px;
    cursor: pointer;
}

.test2:hover {
    width: 26%;
    transition: 0.5s;
}

.test2 img {
    margin-top: 30px;
}

.test2 h1 {
    font-size: 30px;
    margin-top: -30px;
}

.test2 p {
    text-align: center;
    margin-top: 20px;
}

.test3 {
    width: 25%;
    height: 60vh;
    border: 3px solid yellow;
    border-radius: 50px;
    display: block;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 50px;
    cursor: pointer;
}

.test3:hover {
    width: 26%;
    transition: 0.5s;
}

.test3 img {
    margin-top: 30px;
}

.test3 h1 {
    font-size: 30px;
    margin-top: -30px;
}

.test3 p {
    text-align: center;
    margin-top: 20px;
}

.btn3 {

    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 72%;
    margin-top: 35%;
    position: absolute;
}

.btn3 a {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 1px solid rgb(212, 212, 75);
    border-radius: 15px;
    font-size: 17px;
    width: 120px;
    padding: 15px;
    text-align: center;
    background: rgb(212, 212, 75);
}

.btn3 a:hover {
    width: 130px;
    background: rgb(105, 105, 221);
    border: rgb(212, 212, 75);
    font-size: 18px;
    color: rgb(217, 57, 57);
    transition: 0.5s;
}

/*CONTACT*/

#contact {
    width: 100%;
    height: 100vh;
    background-image: url(images/menubg.jpg);
    background-size: cover;
    background-position: center;
}

#contact .contacthead {
    font-size: 45px;
    color: yellow;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
}

.contactbox {
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -45px;

}

.contactphone {
    width: 30%;
    display: block;
    align-items: center;
    justify-content: spce;
    text-align: center;
    margin-top: 68px;
}

.contactphone h1 {
    font-size: 33px;
    color: yellow;
    cursor: pointer;
}

.contactphone a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 18px;
    overflow: hidden;
}

.contactphone a:hover {
    color: rgb(182, 36, 36);
    font-size: 20px;
    transition: 0.2s;
}

.contactmail {
    width: 30%;
    display: block;
    align-items: center;
    justify-content: spce;
    text-align: center;
}

.contactmail h1 {
    font-size: 33px;
    color: yellow;
    cursor: pointer;
}

.contactmail a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 19px;
    overflow: hidden;
}

.contactmail a:hover {
    color: rgb(182, 36, 36);
    font-size: 20px;
    transition: 0.2s;
}

.contactprivacy {
    width: 30%;
    display: block;
    align-items: center;
    justify-content: spce;
    text-align: center;
    margin-top: -115px;
}

.contactprivacy h1 {
    font-size: 33px;
    color: yellow;
    cursor: pointer;
}

.contactprivacy a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 19px;
    overflow: hidden;
}

.contactprivacy a:hover {
    color: rgb(182, 36, 36);
    font-size: 20px;
    transition: 0.2s;
}

.social {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    margin-top: -70px;
    margin-left: 40%;
}

.social a {
    text-decoration: none;
    color: white;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
}

.social a:hover {
    color: rgb(182, 36, 36);
    font-size: 43px;
    transition: 0.5s;
    transform: translateY(-8px);
}

.copyright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    margin-left: 25%;
}

.copyright a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 14px;
}






@media all and (max-width: 500px) {

    /* HEAD*/
    .container {
        width: 100%;
        height: 60vh;
    }

    nav {
        visibility: visible;
        animation: none;
    }

    nav ul {
        width: 100%;
        height: 30vh;
        background: rgb(217, 57, 57);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        display: block;
    }

    nav ul:hover {
        background: rgb(212, 212, 75);
    }

    nav ul li {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -50px;
    }

    .logo {
        margin: -85px 50px 0 -10%;
        width: 200px;
    }

    .menuicon {
        width: 75px;
        margin: -73px 0 0 0;
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }

    .maintext {
        display: block;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-top: -50px;
    }

    .maintext h1 {
        font-size: 50px;
    }

    .maintext p {
        font-size: 14px;
        font-weight: lighter;
        margin-top: -5%;
    }


    .btn a {
        font-size: 14px;
        margin-top: -20px;
    }

    .btn a:hover {
        width: 130px;
        font-size: 15.55px;
    }

    .news {
        width: 100%;
        height: 5vh;
    }

    .newsbox {
        width: 80px;
        height: 5vh;
    }

    .newsbox h1 {
        font-size: 18px;
    }

    .pnews p {
        font-size: 10px;
    }

    .pnews h1 {
        font-size: 12px;
    }

    /*ABOUT*/

    #about {
        width: 100%;
        height: 80vh;
        display: block;
        align-items: center;
        justify-content: space-around;
        background-size: cover;
        background-position: center;
    }

    .abouttext {
        text-align: center;
    }

    .abouttext h1 {
        font-size: 40px;
        padding-top: 150px;
    }

    .abouttext p {
        font-size: 12px;
        margin-top: -10px;
    }

    .aboutimage {
        margin: -20px 0 0 -9%;
        padding-top: 25px;
        width: 450px;
        height: 400px;
    }

    /*PRICE*/
    .price {
        height: 70vh;
    }

    .pricetext {
        padding-top: 10%;
    }

    .pricetext h1 {
        font-size: 20px;
    }

    .pricebox {
        width: 90%;
        height: 50vh;
        display: block;
        margin: 20% 0 0 20px;
    }

    .name {
        margin-left: 20px;
        padding-top: 40px;
    }

    .name h1 {
        font-size: 20px;
    }

    .amount {
        margin: 10% 0 0 20px;
    }

    .amount h1 {
        font-size: 20px;
    }

    .btn2 {
        width: 40%;
        margin: 0 0 0 50%;
    }

    .btn2 a {
        font-size: 14px;
        width: 100px;
    }

    .btn2 a:hover {
        width: 105px;
        font-size: 15px;
    }

    /*RATING*/

    #rating {
        height: 70vh;
    }

    .ratebox {
        width: 100%;
        padding-top: 25%;
        margin-left: 0;

    }

    .ratebox h1 {
        font-size: 20px;
    }

    .ratebox p {
        font-size: 15px;
    }

    .h1 {
        height: 0.55vh;
    }

    .h2 {
        height: 0.55vh;
    }

    .h3 {
        height: 0.55vh;
    }

    .h4 {
        height: 0.55vh;
    }

    .h5 {
        height: 0.55vh;
    }

    /*TESTIMONY*/

    .testimony {
        height: 127vh;
    }

    .testimony h1 {
        font-size: 35px;
    }

    .testbox {
        display: block;
        margin-left: -5px;
    }

    .test1 {
        width: 60%;
        height: 30vh;
        margin-left: 26%;
        margin-top: 35px;
    }

    .test1 h1 {
        font-size: 20px;
        margin-top: -30px;
    }

    .test1 p {
        font-size: 12px;
        margin-top: 10px;
    }

    .test1 img {
        margin: 0;
    }

    .test1:hover {
        width: 63%;
    }

    .test2 {
        width: 60%;
        height: 30vh;
        margin-left: 26%;
        margin-top: 35px;
    }

    .test2 h1 {
        font-size: 20px;
        margin-top: -30px;
    }

    .test2 p {
        font-size: 12px;
        margin-top: 10px;
    }

    .test2 img {
        margin: 0;
    }

    .test2:hover {
        width: 63%;
    }

    .test3 {
        width: 60%;
        height: 30vh;
        margin-left: 26%;
        margin-top: 35px;
    }

    .test3 h1 {
        font-size: 20px;
        margin-top: -30px;
    }

    .test3 p {
        font-size: 12px;
        margin-top: 10px;
    }

    .test3 img {
        margin: 0;
    }

    .test3:hover {
        width: 63%;
    }

    .btn3 {
        margin-top: -20%;
        margin-left: 33.5%;
        height: 30vh;
    }


    /*CONTACT*/
    #contact {
        height: 153vh;
    }

    #contact .contacthead {
        font-size: 35px;
        padding-top: 50px;
    }

    .contactbox {
        display: block;
        margin-top: -5px;
    }

    .contactphone {
        width: 100%;
        margin-top: 50px;
    }

    .contactphone h1 {
        font-size: 22px;
    }

    .contactphone a {
        font-size: 14px;
    }

    .contactmail {
        width: 100%;
        margin-top: 50px;
    }

    .contactmail h1 {
        font-size: 22px;
    }

    .contactmail a {
        font-size: 14px;
    }

    .contactprivacy {
        width: 100%;
        margin-top: 50px;
    }

    .contactprivacy h1 {
        font-size: 22px;
    }

    .contactprivacy a {
        font-size: 14px;
    }

    .social {
        width: 40%;
        margin: 10px 0 0 30%;
    }

    .social a {
        font-size: 25px;
    }

    .social a:hover {
        font-size: 25px;
        transform: none;
    }

    .copyright {
        width: 100%;
        margin: 60px 0 0 0;
    }

    .copyright a {
        font-size: 12px;
    }
}